@font-face {
    font-family: Antiquarian, sans-serif;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Alfa-Owner;
    src: url(fonts/AlfaownerScript-BoldItalic-LV.otf);
    font-weight: 400;
}

@font-face {
    font-family: "antiquarian-scribe", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Inconstant;
    src: url(fonts/Inconstant-Regular.otf);
    font-weight: 400;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;

    /* background: url(../icon/pattern.svg) no-repeat center center scroll;
    background-size: 400%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); */
    background-color: rgb(235, 235, 235);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-family: Antiquarian, sans-serif;
    font-size: 2.5rem;
    color: #333;
    text-align: left;
    margin-bottom: 20px;
}

h2 {
    font-family: Antiquarian, sans-serif;
    font-size: 2rem;
    color: #333;
    text-align: left;
    margin-bottom: 20px;
}

p {
    font-family: Inconstant, sans-serif;
}

a {
    color: black;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}