.lang-en {
    .it {
        display: none !important;
    }
    .lv {
        display: none !important;
    }
}

.lang-lv {
    .en {
        display: none !important;
    }
    .it {
        display: none !important;
    }
}

.lang-it {
    .en {
        display: none !important;
    }
    .lv {
        display: none !important;
    }
}

:root {
    --pav-blue: #0f007c;
    --pav-gray: rgb(235, 235, 235);
}

@font-face {
    font-family: Antiquarian, sans-serif;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Alfa-Owner;
    src: url(AlfaownerScript-BoldItalic-LV.otf);
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url(Inter.ttf);
    font-weight: 400;
    font-style: regular;
}

@font-face {
    font-family: Inter;
    src: url(Inter.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Inconstant;
    src: url(Inconstant-Regular.otf);
    font-weight: 400;
}

@keyframes glide {
    0% {
        -webkit-transform: translateX(0) translateY(0) rotate(0);
    }
    10% {
        -webkit-transform: translateX(-30%) translateY(-70%) rotate(40deg);
    }
    20% {
        -webkit-transform: translateX(-45%) translateY(-50%) rotate(45deg);
    }
    30% {
        -webkit-transform: translateX(-35%) translateY(-55%) rotate(180deg);
    }
    40% {
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(250deg);
    }
    50% {
        -webkit-transform: translateX(-40%) translateY(-60%) rotate(315deg);
    }
    60% {
        -webkit-transform: translateX(-50%) translateY(-55%) rotate(369deg);
    }
    70% {
        -webkit-transform: translateX(-55%) translateY(-45%) rotate(405deg);
    }
    80% {
        -webkit-transform: translateX(-35%) translateY(-50%) rotate(430deg);
    }
    90% {
        -webkit-transform: translateX(-40%) translateY(-60%) rotate(450deg);
    }
    100% {
        -webkit-transform: translateX(0) translateY(0) rotate(720deg);
    }
}

body {
    padding: 0;
    padding-top: 100px;
    margin: 0;
    overflow-x: hidden;
    background-color: var(--pav-gray);
    display: flex;
    justify-content: center;
    position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Inconstant;
}

.bg {
    opacity: 1;
    background-color: var(--pav-gray);
    width: 5000px;
    aspect-ratio: 1;
    position: fixed;
    top: -50%;
    left: -50%;
    z-index: -1;
    animation: glide ease-in-out 1000s infinite;
    transition: opacity 0.5s;
}

.hidden.bg {
    opacity: 0;
}

.paused.bg {
    animation-play-state: paused;
}

.content {
    /* width: fit-content; */
    height: 100%;
    width: 100%;
    max-width: 1000px;
    position: relative;
}

.footer {
    position: absolute;
    left: 10px;
    top: calc(100% - 50px);
    font-family: Inconstant;
    width: fit-content;

    a {
        color: black;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

.top-bar {
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 40px;
    font-size: 16pt;
    margin-top: 20px;
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    /* gap: 1%; */
    .divider {
        width: 10px;
        user-select: none;
        color: var(--pav-blue);
        font-family: Alfa-Owner;
    }
    p {
        color: var(--pav-blue);
        font-family: Alfa-Owner;
        text-decoration: none;
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width: 800px) {
    .top-bar {
        display: flex;
    }
}

.logo {
    height: 150px;
    display: flex;
    justify-content: space-between;
    margin: 0 26px;

    img {
        height: 100%;
    }

    .languages {
        position: relative;
        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 80px;
        }

        a {
            color: var(--pav-blue);
            position: absolute;
            font-family: Alfa-Owner;
            font-size: 20pt;
            text-decoration: none;
            transition: transform 0.2s;
        }

        :nth-child(2) {
            top: 20px;
            left: 34px;
            transform: rotate(-18deg) scale(1);

            &:hover {
                transform: rotate(-18deg) scale(1.2);
            }
        }

        :nth-child(3) {
            top: 25px;
            left: 90px;
            transform: rotate(8deg);

            &:hover {
                transform: rotate(8deg) scale(1.2);
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .logo {
        height: 100px !important;
        margin: 0 18px;

        .languages {
            img {
                height: 60px;
            }

            a {
                font-size: 16pt;
            }

            :nth-child(2) {
                top: 14px;
                left: 25px;
                transform: rotate(-18deg);
            }

            :nth-child(3) {
                top: 18px;
                left: 66px;
                transform: rotate(8deg);
            }
        }
    }
}

.paragraphs {
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.title {
    height: fit-content;
    h1 {
        color: var(--pav-blue);
        font-size: 37pt;
        margin-top: 30px;
        text-indent: -30px;
        margin-left: 40px;
        line-height: 60px;
        font-family: Antiquarian;
    }
}

.description {
    width: calc(100% - 30px);
    margin: 15px;
    font-family: Inconstant;
    font-weight: bold;
    font-size: 13pt;
    margin-bottom: 60px;
}

.block {
    h2 {
        font-family: Alfa-Owner;
        text-align: center;
        /* margin-right: 13px; */
        color: var(--pav-blue);
    }

    h3 {
        font-family: Inconstant;
        font-size: 12pt;
        text-align: left;
        margin: 0;
        margin-bottom: 5px;
        margin-top: 20px;
        margin-left: 10px;
    }

    h4 {
        font-family: Inconstant;
        font-size: 12pt;
        text-align: left;
        margin: 0;
    }

    ul {
        margin-bottom: 10px;
    }

    p {
        /* margin: 15px; */
        font-family: Inconstant;
        font-size: 12pt;
        margin: 0;
        margin-bottom: 10px;
    }

    a {
        color: black;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 800px) {
    .text {
        width: calc(100% - 15px);
        margin-left: 15px;
    }
}

.down {
    transform: translateY(200%) !important;
}

.back-to-top {
    display: none;
    position: fixed;
    height: fit-content;
    aspect-ratio: 1;
    bottom: 30px;
    right: 15px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    /* backdrop-filter: blur(10px); */
    border-radius: 15px;
    padding: 5px 10px;
    transform: translateY(0);
    transition: transform 0.3s;

    .pointer {
        color: var(--pav-blue);
        width: 30px;
    }

    p {
        font-family: Alfa-Owner;
        font-size: 12pt;
        margin: 0;
        color: var(--pav-blue);
    }
}

@media screen and (max-width: 800px) {
    .back-to-top {
        display: block;
    }
}

.paragraphs {
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.section {
    width: 45%;
}

.block {
    padding: 15px;
}

.logos {
    width: calc(100% - 40px);
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    padding: 0 20px;
    gap: 20px;

    img {
        display: block;
        max-height: 90px;
        max-width: 150px;
        object-fit: contain;
    }
}

#mobile-section {
    display: none;
    position: relative;
}

@media screen and (max-width: 800px) {
    body {
        flex-direction: column;
    }

    .paragraphs {
        display: none;
    }

    #mobile-section {
        display: block;
        width: 100%;
    }

    .blank {
        display: none;
    }
}

.accessibility-options {
    font-family: Inconstant;
    position: absolute;
    top: calc(50% - 50px);
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    padding-right: 20px;
    background-color: var(--pav-gray);
    border-radius: 10px 0 0 10px;
    border: 1px solid var(--pav-blue);
    border-left: none;
    border-top: none;

    span {
        cursor: pointer;
        user-select: none;
    }

    input {
        margin-left: 0;
        height: 15px;
        aspect-ratio: 1;
        cursor: pointer;
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        font-size: 20pt;
        color: darkred;
        font-family: Arial;
    }
}
