@font-face {
    font-family: Papyrus;
    src: url(papyrus.ttf);
}

body {
    overflow: hidden;
}

.screen {
    width: 200vw;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s;
}

#wallpaper {
    width: 200vw;
    position: absolute;
    top: 0;
    left: 0;
}

.text-container {
    width: 900px;
    position: absolute;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s;
    font-family: "Papyrus", sans-serif;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

#container1 {
    top: 20vh;
    left: 20vw;
}

#container2 {
    top: 90vh;
    left: 120vw;
}

#container3 {
    top: 140vh;
    left: 40vw;
}
